<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrelloClone</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <a asp-action="Index" asp-controller="Board"><img src="~/logo.gif" class="logo" /></a>
        <div class="user">
            <span>admin@gmail.com</span>
            <a href="@Url.Action("Login", "Account")">Çıkış Yap</a>
        </div>
    </header>

    <aside class="sidebar">
        <div class="my-boards">
            <a href="@Url.Action("Index", "Home")">MyBoard</a>
            <button type="button" id="addList" class="btn btn-primary">+</button>
        </div>
    </aside>

    <div class="render-body-container">
        @RenderBody()
    </div>

    @*Modal*@
    <div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="addListModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addListModalLabel">Yeni Liste Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addListForm">
                        <div class="form-group">
                            <label for="listName">Liste İsmi</label>
                            <input type="text" class="form-control" id="listName" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Liste Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {            
            $("#addList").click(function () {
                $('#addListModal').modal('show');
            });

            $("#addListForm").submit(function (e) {
                e.preventDefault();
                var listName = $("#listName").val();

                $.ajax({
                    url: "https://localhost:7195/api/List",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ name: listName }),
                    success: function (response) {
                        alert("Liste başarıyla eklendi!");
                        $('#addListModal').modal('hide'); 
                        window.location.reload(); 
                    },
                    error: function (xhr, status, error) {
                        alert("Liste eklenirken bir hata oluştu: " + error);
                    }
                });
            });
        });
    </script>
</body>
</html>


